.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}


.world-map{
    width: 1200px;
}

.country-card{
    margin-left: 5rem;
    width: 375px;
    padding: 25px;
    background-color: #Ca313f; 
    color: #fff;
    box-shadow: 0px 4px 8px #1e1f46;
}